[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"discord.py-self" = "*"
boto3 = "*"
aiohttp = "*"
jinja2 = "*"
aiohttp-jinja2 = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.9"
