<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="assets/style.css">
  <link rel="icon" type="image/png" href="assets/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/favicon-96x96.png" sizes="96x96">
  <meta property="og:title" content="Ye Stream" />
  <meta property="og:description" content="Ye updates from multiple sources" />
  <meta property="og:url" content="http://ye.harry.city" />
  <title>Ye Stream</title>
</head>
<body>
	<div class="content">
		<header class="flex-col flex-align-center">
			<div class="header-avatar"></div>
			<p class="header-description">Ye updates from multiple sources</p>
			<div class="header-links">
				<a href="https://github.com/harrego/yestream/blob/main/README.md"><p class="header-about">About</p></a>
				<p>|</p>
				<a href="https://harry.city"><p class="header-home">harry.city</p></a>
			</div>
		</header>
		
		<div class="info">
			<!-- Pinned -->
			<div class="post post-gray p-margin-0">
				<div class="post-header flex-row p-margin-0">
					<p class="post-header-name">colin</p>
					<p class="post-header-username subtext"><a href="https://twitter.com/colinags">@colinags</a></p>
				</div>
				<div class="post-content">
					<p>We’ve entered the all black BALENCIDONDA era</p>
				</div>
				<div class="post-footer flex-row flex-justify-space-between subtext">
					<p class="post-footer-date"><a href="https://twitter.com/colinags/status/1435579379493621760">September 8, 2021 - 8:22AM ET</a></p>
					<p class="post-footer-tags">Pinned</p>
				</div>
			</div>
		</div>
		
		<div class="posts">	
			<!-- Posts -->
			{% for message in messages %}
			<div class="post p-margin-0">

				<div class="post-content">
					{% if message.text|length > 0 %}
					<p>{{ message.text|urlize }}</p>
					{% endif %}
					
					{% for link in message.links %}
						{% if link.title %}
						<div class="post p-margin-0">
							<div class="post-content post-content-compact">
								<a href="{{ link.url }}"><p class="post-link-title">{{ link.title }}</p></a>
								{% if link.description %}
								<p class="post-link-description">{{ link.description }}</p>
								{% endif %}
							</div>
						</div>
						{% endif %}
					{% endfor %}
				
					{% for tweet in message.tweets %}
					<div class="post p-margin-0">
						<div class="post-header flex-row p-margin-0">
							<p class="post-header-name">{{ tweet.name }}</p>
							<p class="post-header-username subtext"><a href="https://twitter.com/{{ tweet.username }}">@{{ tweet.username }}</a></p>
						</div>
						<div class="post-content">
							<p>{{ tweet.text|urlize }}</p>
						</div>
						<div class="post-footer flex-row flex-justify-space-between subtext">
							<p class="post-footer-date"><a href="{{ tweet.url }}">{{ tweet.date }}</a></p>
						</div>
					</div>
					{% endfor %}
					
					{% for attachment in message.attachments %}
					{% if attachment.type == "vid" %}
					<video controls>
						<source src="{{ attachment.url }}" type="video/mp4">
					</video>
					<div class="post post-auto-width p-margin-0">
						<div class="post-content post-content-compact">
							<a href="{{ attachment.url }}"><p class="post-file-name">{{ attachment.file_name }}</p></a>
							{% if attachment.file_size_human %}
							<p class="post-file-size subtext">{{ attachment.file_size_human }}</p>
							{% else %}
							<p class="post-file-size subtext">Unknown file size</p>
							{% endif %}
						</div>
					</div>
					{% elif attachment.type == "img" %}
					<a class="no-hover" href="{{ attachment.url }}"><img src="{{ attachment.url }}"></a>
					{% else %}
					<div class="post post-auto-width p-margin-0">
						<div class="post-content post-content-compact">
							<a href="{{ attachment.url }}"><p class="post-file-name">{{ attachment.file_name }}</p></a>
							{% if attachment.file_size_human %}
							<p class="post-file-size subtext">{{ attachment.file_size_human }}</p>
							{% else %}
							<p class="post-file-size subtext">Unknown file size</p>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
				
				<div class="post-footer flex-row flex-justify-space-between subtext">
					<p class="post-footer-date">{{ message.date }}</p>
				</div>
			</div>
			{% endfor %}
		
		</div>
	</div>
</body>
</html>